body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.contact-info, .contact-form, .social-media {
    margin: 20px 0;
}

.contact-info p {
    font-size: 18px;
    color: #555;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #218838;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

.social-media a:hover {
    color: #0056b3;
}

.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 22px;
    background-color: #f8f8f8;
   
}

.navbar img {
    height: 50px; 
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {    
    color: #dad6d6;
}
